.logo{
	height: 80px;
	width: 200px;
	margin-left: 100px;
}
.navbar-nav{
	margin-left: 350px;
}
@media(max-width:670px){
	.logo{
		height: 65px;
		width: 170px;
		margin-left: -30px;
	}
	.navbar-nav{
		margin-left: -50px;
	}
	.navbar-nav li{
		border-bottom: 1px solid black;
		border-top: 1px solid black;
		padding-left: 20px;
	}

}

.icon{
	height: 100%;
	width: 100%;
	float: left;
	list-style-type: none;
	position: fixed;
	top: 250px;
	left: -40px;
	z-index: 999;
}
.icon li{
	height: 50px;
	width: 50px;
	color: white;
	padding-left: 15px;
	padding-top: 5px;
	background-color: #f88c02;

}
.icon li:hover{
	transform: scaleX(1.2);

}

.slider1 img{
	height: 450px;
	width: 100%;
	float: left;
}
.box1{
	height: 400px;
	width: 500px;
	float: left;
	border: 5px solid #f88c02;
	margin-left: 100px;
}
.box1 img{
	margin-top: -50px;
	margin-left: -50px;
}
.box1 .bg-light{
	height: 200px;
	width: 450px;
	margin-top: -120px;
	position: absolute;
}
@media(max-width:670px){
	.slider1 img{
		height: 300px;
	}
	.box1{
		height:350px;
		width: 400px;
		margin-top: -850px;
		margin-left: 50px;
	}
	.box1 .bg-light{
		width: 380px;
	}
	.desc{
		margin-top: 400px;
	}
}